@import "tailwindcss";

@theme inline {
  /* This connects the Next.js variable to the utility font-brand */
  --font-brand: var(--font-aref-ruqaa);
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  /* Use the variable here so it applies to everything */
  font-family: var(--font-aref-ruqaa), serif;
  background: black;
  color: white;
}

/* Hide scrollbar */
body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}